
<div class="parallax-container">
	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </h4>
  <div class="parallax">
		<%= image_tag("pastel.jpg") %>
	</div>
</div>

<div class="">
	<div class="row container center">
		<div class="col s4">
			<div class="">
				<i class="fas fa-sign-in-alt"></i>
				<div class="">
					<h5 class="">Registrate con tu correo o facebook</h5>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="">
				<i class="fas fa-map-marker-alt"></i>
				<div class="">
					<h5 class="">Sube una foto y la ubicacion del perrito en situacion de calle</h5>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="">
				<i class="fas fa-home"></i>
				<div class="">
					<h5 class="">Busca en el mapa y adopta a una nueva mascota</h5>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="parallax-container">
  <div class="parallax">
		<%= image_tag("perohapi.jpg") %>
	</div>
</div>

<div class="carousel carousel-slider">
	<div class="row container carousel-item">
	  <div class="col s4">
	    <div class="card">
	      <div class="card-image">
	        <%= image_tag("tania.jpg") %>
					<span class="card-title">Adoptado!</span>
	      </div>
	      <div class="card-content">
	        <p>I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively.</p>
	      </div>
	      <div class="card-action">
	        <a href="#">This is a link</a>
	      </div>
	    </div>
	  </div>
		<div class="col s4">
	    <div class="card">
	      <div class="card-image">
	        <%= image_tag("maria.jpg") %>
					<span class="card-title">Adoptado!</span>
	      </div>
	      <div class="card-content">
	        <p>I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively.</p>
	      </div>
	      <div class="card-action">
	        <a href="#">This is a link</a>
	      </div>
	    </div>
	  </div>
		<div class="col s4">
	    <div class="card">
	      <div class="card-image">
	        <%= image_tag("pepe.jpg") %>
					<span class="card-title">Encontrado!</span>
	      </div>
	      <div class="card-content">
	        <p>I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively.</p>
	      </div>
	      <div class="card-action">
	        <a href="#">This is a link</a>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row container carousel-item">
	  <div class="col s4">
	    <div class="card">
	      <div class="card-image">
	        <%= image_tag("alex.jpg") %>
					<span class="card-title">Encontrado!</span>
	      </div>
	      <div class="card-content">
	        <p>I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively.</p>
	      </div>
	      <div class="card-action">
	        <a href="#">This is a link</a>
	      </div>
	    </div>
	  </div>
		<div class="col s4">
	    <div class="card">
	      <div class="card-image">
	        <%= image_tag("rosa.jpg") %>
					<span class="card-title">Adoptado!</span>
	      </div>
	      <div class="card-content">
	        <p>I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively.</p>
	      </div>
	      <div class="card-action">
	        <a href="#">This is a link</a>
	      </div>
	    </div>
	  </div>
		<div class="col s4">
	    <div class="card">
	      <div class="card-image">
	        <%= image_tag("nico.jpg") %>
					<span class="card-title">Adoptado!</span>
	      </div>
	      <div class="card-content">
	        <p>I am a very simple card. I am good at containing small bits of information.
	        I am convenient because I require little markup to use effectively.</p>
	      </div>
	      <div class="card-action">
	        <a href="#">This is a link</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>
